* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    display: inherit;
    max-width: 155vh;
    width: 95%;
    height: 476px;
    background-color: white;
    border-radius: 24px;
    margin: 0 auto;
}


.background {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 102%;
    background-position-y: 65%;
    overflow: hidden;
}

.images {
    display: flex;
    position: relative;

}


.womandesktop {
    position: relative;
    top: 17%;
    left: -16%;
    width: 103%;
}


.box {
    position: absolute;
    top: 13em;
    left: -8em;
    z-index: 1;

}


.text {

    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    top: -31px;
    position: relative;
    opacity: 0.7;
    font-family: sans-serif;

}

.textchild {
    margin: 2vw;
    margin-right: 4vw;
}

.question {
    display: flex;
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;

    font-weight: 700;
    margin: 4px 0px;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.answer {

    font-size: 0.8em;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 7px;
    margin-right: 3vw;
    margin-bottom: 8px;
    font-family: 'Kumbh Sans';
    max-height: 0;
    overflow: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 0.9s;


}

.line {
    height: 2px;
    color: black;

}


.faq.activate .answer {
    max-height: 200px;

}

.activate svg {
    transform: rotate(180deg);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

svg {
    transform: translate(0deg);
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}


@media (max-width:740px) {

    .container {
        display: inherit;
        flex-direction: column;
        max-width: 155vh;
        width: 82%;
        height: 410px;
        background-color: white;
        border-radius: 24px;
        margin: 0 auto;
    }

    .images {
        height: 119px;
        display: flex;
        position: relative;

    }

    .box {
        display: none;
        position: absolute;
        top: 13em;
        left: -8em;
        z-index: 1;

    }

    .womanmobile {
        max-height: 150px;
        width: 98%;
        position: absolute;
        top: -92px;
    }



    .womandesktop {
        display: none;
        position: relative;
        top: 17%;
        left: -16%;
        width: 103%;
    }

    .background {
        display: flex;
        background-image: url(/images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position-x: 58%;
        background-position-y: -23%;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        align-items: start;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 16px;
        width: 100%;
        overflow: hidden;
    }

    .header {

        font-family: sans-serif;
        position: initial;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 6px
    }

    .textchild {
        margin: 0;
        margin-right: 40px;
    }

    .question {
        display: flex;
        font-size: 3.2vw;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        margin: 4px 0px;
        justify-content: space-between;
        align-items: baseline;
        cursor: pointer;
    }

    .answer {

        font-size: 10px;
        font-family: 'Kumbh Sans', sans-serif;
        margin-top: 7px;
        margin-right: 3vw;
        margin-bottom: 8px;
        font-family: 'Kumbh Sans';
        max-height: 0;
        overflow: hidden;
        transition-timing-function: ease-in-out;
        transition-duration: 0.9s;


    }



}